body.dark-mode
  background-color $backgroundColorDark
  color $textColorDark
  .navbar
    background-color $backgroundColorDark
    .links
      background-color $backgroundColorDark
  .sidebar
    background-color $backgroundColorDark
    a.sidebar-link
      color $sidebarChildrenColorDark
      &.active, &:hover
        color $sidebarChildrenActiveColorDark
    .sidebar-group
      &.is-sub-group
        padding-left 0
        & > .sidebar-heading
          color: $sidebarHeaderColorDark
        & > .sidebar-group-items
          & > li > .sidebar-link
            &:not(:hover):not(.active)
              color $sidebarLinkColorDark
            &.active, &:hover
              color $sidebarLinkActiveColorDark