// colors

// light mode
$accentColor = #3c91e6
$textColor = #4a4a4a
$borderColor = #e1e1e1
$codeBgColor = #110d16
$arrowBgColor = #ccc
$backgroundColor = #fff
$sidebarCategoryColor = #757575
$sidebarLinkColor = #4a4a4a
$sidebarLinkChildrenColor = #6c6b6b

// dark mode
$backgroundColorDark = #010115
$textColorDark = #868686
$sidebarLinkColor = #b6b6b6

// layout
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 740px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px

// code
$lineNumbersWrapperWidth = 3.5rem
$codeLang = js ts html md vue css sass scss less stylus go java c sh yaml py solidity text
