// colors

// light mode
$accentColor = #3c91e6
$textColor = #4a4a4a
$borderColor = #e1e1e1
$codeBgColor = #10142b
$codeBorderColor = #3c3f53
$codeTextColor = #d81159
$arrowBgColor = #ccc
$backgroundColor = #fff
$sidebarCategoryColor = #757575
$sidebarLinkColor = #4a4a4a
$sidebarLinkActiveColor = #3c91e6
$sidebarLinkChildrenColor = #8D8D8D
$linkTextColor = #6766e2

$scorllThumbColor = #f4f4f4
$scrollThumbActiveColor = #babac0

// dark mode
$backgroundColorDark = #1a1e36
$textColorDark = #c1c9d1
$sidebarHeaderColorDark = #5f69a2
$sidebarLinkColorDark = #babed4
$sidebarLinkActiveColorDark = #28b9a0
$sidebarChildrenColorDark = #7481cf
$sidebarChildrenActiveColorDark = #08a68b
$borderColorDark = rgba(255, 255, 255, 0.15)
$searchBorderColorDark = #5f69a2
$scorllThumbColorDark = rgba(255, 255, 255, 0.15)

// layout
$navbarHeight = 4rem
$sidebarWidth = 20rem
$contentWidth = 740px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px

// code
$lineNumbersWrapperWidth = 3.5rem
$codeLang = js ts html md vue css sass scss less stylus go java c sh yaml py solidity text
