.scroll-container
  scrollbar-color #babac0 transparent
  scrollbar-width thin

  &::-webkit-scrollbar
    background-color transparent
    width 10px
  &::-webkit-scrollbar-track
    background-color transparent
  &::-webkit-scrollbar-thumb
    background-color #babac0
    /* border:2px solid transparent; */
  &::-webkit-scrollbar-button
    display none

