.scroll-container
  scrollbar-color $scorllThumbColor $backgroundColor
  scrollbar-width thin
  &::-webkit-scrollbar
    background-color $backgroundColor
    width 12px
  &::-webkit-scrollbar-track
    background-color $backgroundColor
  &::-webkit-scrollbar-thumb
    background-color $scorllThumbColor
    border 2px solid $backgroundColor
    &:hover, &:active
      background-color $scrollThumbActiveColor
  &::-webkit-scrollbar-button
    display none
  .dark-mode &
    scrollbar-color $scorllThumbColor $backgroundColorDark
    scrollbar-width thin
    &::-webkit-scrollbar
      background-color $backgroundColorDark
    &::-webkit-scrollbar-track
      background-color $backgroundColorDark
    &::-webkit-scrollbar-thumb
      background-color $scorllThumbColorDark
      border 2px solid $backgroundColorDark
pre
  scrollbar-color $codeBorderColor $codeBgColor
  scrollbar-width thin
  &::-webkit-scrollbar
    background-color $codeBgColor
    height 12px
  &::-webkit-scrollbar-track
    background-color $codeBgColor
  &::-webkit-scrollbar-thumb
    background-color $codeBorderColor
  &::-webkit-scrollbar-button
    display none
