pre
  scrollbar-color $codeBorderColor $codeBgColor
  scrollbar-width thin
  &::-webkit-scrollbar
    background-color $codeBgColor
    height 12px
  &::-webkit-scrollbar-track
    background-color $codeBgColor
  &::-webkit-scrollbar-thumb
    background-color $codeBorderColor
  &::-webkit-scrollbar-button
    display none
.custom-scroll
	scrollbar-color $codeBorderColor $codeBgColor
  scrollbar-width thin
  &::-webkit-scrollbar
    background-color $codeBgColor
    width 12px
  &::-webkit-scrollbar-track
    background-color transparent
  &::-webkit-scrollbar-thumb
    background-color $codeBorderColor
  &::-webkit-scrollbar-button
    display none