.DS_Store

node_modules

lib/core/metadata.js
lib/core/MetadataBlog.js


website/build/
website/node_modules
website/i18n/*
!website/i18n/en.json

.vscode/


# Mac OS X file
.DS_Store

# Jetbrains project meta folder
.idea/*
*.mov