/* your custom css */


/* global */

a {
  color: #f9a82f;
}

.logo {
  display: block !important;
}

body {
  background-color: #F5F7F9;
}

.landing-page * {
  box-sizing: border-box;
}

.mainContainer .wrapper p a {
  text-decoration: underline;
}

.mainContainer .wrapper{
  padding-top: 40px;
}

.tile-bg {
  background-image: url('../img/tile-pattern.png');
}

.dark-bg {
  background: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url('../img/future-bg.png'), url('../img/stars.svg'), #0b0033;
  background-repeat: no-repeat, no-repeat, no-repeat, repeat;
  background-position: center, bottom, top, center;
  background-size: contain;
}

.landing-page h2 {
  font-size: 72px;
}

.landing-page h3 {
  font-size: 36px;
  margin-bottom: 24px;
  line-height: 1;
}

.header-content {
  text-align: center;
  margin-bottom: 24px;
}

.headerContainer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.light-code, .dark-code {
  font-family: monospace;
}

.light-code {
  white-space: normal;
  color: #25262A;
  background-color: #EFF3FF;
  padding: 36px;
}

.dark-code {
  white-space: normal;
  color: #FFFFFF;
  background-color: #102252;
  padding: 36px;
  border-left: 4px solid #0C29D8;
}

.mainContainer .wrapper p {
  max-width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
}

.navPusher {
  padding-top: 0px;
}

.docsNavContainer {
  margin: 50px 0 !important;
}

.fixedHeaderContainer {
  position: absolute;
}

.doc .navPusher {
  padding-top: 50px;
}

.headerWrapper h2 {
  visibility: hidden;
}

.homeContainer .homeWrapper {
  padding: 10em 24px;
}

.nav-home img {
  visibility: hidden;
}

.global-padding {
  padding-left: 20px;
  padding-right: 20px;
}

nav.toc .toggleNav .navGroup.navGroupActive {
  background: transparent;
}

nav.toc .toggleNav {
  background: transparent;
}

navigationSlider .slidingNav ul li.siteNavItemActive a, .navigationSlider .slidingNav ul li.siteNavGroupActive a {
  background: #f9a82f;
  border-radius: 6px;
}

nav.toc .toggleNav ul li a {
  color: #717171;
}

nav.toc .toggleNav .navGroup.navGroupActive h3 {
  color: #393939;
  background: transparent;
  padding-bottom: 0px;
}

.productShowcaseSection .logos {
  padding: 0px;
}

.showcaseSection .logos img {
  width: auto;
}

.productShowcaseSection .logos img {
  width: auto;
  max-height: 168px;
}

.link-container {
  padding: 24px 0;
}

.link-container a {
  color: #0b0033;
  text-decoration: underline;
}



.banner-beta-label {
  font-size: 32px;
  padding-left: 8px;
  color: #f9a830;
}

/* footer */

footer.nav-footer {
  background: #0b0033;
}

footer .sitemap {
  position: relative;
}

footer .zombie-mascot {
  height: 300px;
  position: absolute;
  right: 0px;
}

.fbOpenSource {
  width: initial !important;
  height: 100px;
  opacity: 1 !important;
}

.fbOpenSource img {
  width: 750px;
  position: relative;
  margin: 0 auto;
  top: -60px;
  display: block;
}

/* doc */

/* .doc .toc {
  position: fixed;
} */

.doc .mainContainer {
  background-color: #FFFFFF;
  border: 1px solid #EDF0F2;
  padding: 0 24px;
}

/* grid */

.grid-container {
  display: flex;
  align-items: center;
  margin-bottom: 48px;
}

.grid-container .wrapper {
  display: flex;
}

.grid-col {
  margin: 0 24px;
}

.grid-col-2 {
  width: 50%;
}

/* banner */

.banner {
  position: relative;
  padding-top: 120px;
  padding-bottom: 120px;
  max-height: 100vh;
  display: flex;
  align-items: center;
  box-shadow: inset 0 -10px 10px -5px rgba(0,0,0,0.2);
  overflow: hidden;
}

.banner .wrapper {
  display: flex;
}

.banner-copy, .banner-form {
  width: 50%;
}

.banner-copy {
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #FFFFFF;
  line-height: 1;
}

.banner-copy h1 {
  color: #FFFFFF;
  font-size: 72px;
  font-weight: bold;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
}

.banner-copy h3 {
  color: #FFFFFF;
  font-size: 48px;
  font-weight: 200;
  margin-bottom: 24px;
}

.banner-copy p {
  font-size: 18px;
  font-weight: 200;
}

.banner-form {
  padding: 0 24px;
}

.banner-form .form-container, .banner-mascot-container {
  left: 80px;
  max-width: 420px;
  margin: 0 auto;
  padding: 48px 60px;
  border-radius: 12px;
  background-color: #FFFFFF;
}

.banner-form .form-container h3 {
  text-align: center;
  color: #909090;
  font-size: 24px;
  text-transform: uppercase;
}

.banner-form .form-container input {
  display: block;
  width: 100%;
  font-size: 18px;
  padding: 12PX;
  margin: 0 auto;
  border: 1px solid #909090;
}

.banner-form .sign-up-btn {
  display: block;
  width: 100%;
  color: #FFFFFF;
  text-align: center;
  padding: 12px 0;
  margin: 0 auto;
  background-color: #0C29D8;
  border-radius: 12px;
}

.banner-mascot-container {
  position: relative;
  background: transparent;
}

.banner-mascot-container img {
  position: relative;
  z-index: 100;
}

.banner-mascot-container-decal {
  display: block;
  position: absolute;
  /* background-color: #004EEE; */
  /* background: #004eee;
  background: -moz-radial-gradient(center, ellipse cover, #004eee 0%, #081356 100%);
  background: -webkit-radial-gradient(center, ellipse cover, #004eee 0%,#081356 100%);
  background: radial-gradient(ellipse at center, #004eee 0%,#081356 100%);  */
  width: 600px;
  height: 350px;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 50%;
}

.decal-2 {
  opacity: .6;
  width: 800px;
  height: 550px;
}

.decal-3 {
  opacity: .4;
  width: 1000px;
  height: 750px;
}

.decal-4 {
  opacity: .2;
  width: 1200px;
  height: 950px;
}

.artifact {
  position: absolute;
  animation: float 4s ease-in-out infinite;
}

.artifact-1 {
  bottom: 250px;
  right: 40px;
  animation-delay: .5s;
}

.artifact-2 {
  bottom: 340px;
  right: 210px;
  animation-delay: 1s;
}

.artifact-3 {
  bottom: 470px;
  right: 240px;
  animation-delay: 1.5s;
}

.artifact-4 {
  bottom: 580px;
  right: 190px;
  animation-delay: 2s;
}

.artifact-5 {
  bottom: 650px;
  right: 150px;
  animation-delay: 2.5s;
}


.artifact-container {
  position: absolute;
  transform: translateX(-50%);
  width: 400px;
  left: 50%;
  height: 100%;
  top: 0px;
}

/* features  */

.features-container {
  display: flex;
  margin-bottom: 96px;
}

.features-container h2 {
  font-size: 24px;
  line-height: 1.2;
}

.features-container .feature-element {
  flex: 1;
  background-color: #FFFFFF;
  padding: 12px 0;
  margin: 0 12px;
  border-radius: 12px;
  box-shadow: 5px 12px 20px rgba(36,37,38,0.13);
}

.features-container hr {
  margin: 0px;
  border-width: 3px;
  border-color: #7EA5E6;
  border-top: none;
  border-left: none;
}

.features-container .feature-btn {
  display: inline-block;
  color: #FFFFFF;
  font-size: 16px;
  padding: 6px 24px;
  border-radius: 24px;
  background-color: #f9a830;
}

.feature-element-content {
  text-align: center;
  padding: 24px 36px;
}

.feature-element-content h2 {
  margin-bottom: 12px;
}

.feature-element-content p {
  padding: 0px !important;
  margin-bottom: 24px;
}


/* showcase */

.productShowcaseSection {
  padding: 48px 0;
}

.productShowcaseSection h2 {
  margin-top: 0px;
}

.productShowcaseSection.paddingBottom {
  margin-bottom: 0px;
}

/* download */

.download {
  width: 100%;
}

.download-btn-container {
  display: flex;
  justify-content: center;
  max-width: 600px;
  margin: 0 auto;
  border: 2px solid #f9a830;
  border-radius: 12px;
}

.download-btn-container li {
  flex-grow: 1;
  text-align: center;
  padding: 12px;
}

.download-btn-container li span {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.download-btn-container li.border-left {
  border-left: 2px solid #f9a830;
}

.download-btn-container li.border-right {
  border-right: 2px solid #f9a830;
}

.download-btn-container .download-btn {
  color: #FFFFFF;
  background-color: #f9a830;
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 6px;
}

/* prerequisites */

.prereqs-container {
  background-color: #FFFFFF;
}

.prereqs {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.prereqs p {
  word-wrap: break-word;
}

.prereqs pre code {
  text-align: initial;
  margin: 36px 0;
}

/* instructions */

.instructions h3 {
  height: 72px;
}

/* suggestions */

.suggestions {
  text-align: center;
}

.suggestions h3 {
  color: #393939;
  padding: 24px 0;
  margin-bottom: 0px;
}

/* utilities */

.custom-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.mb-3 {
  display: block;
  margin-bottom: 36px !important;
}

.center-text {
  text-align: center !important;
}

.spacer {
  padding: 48px 24px 240px 24px !important;
}

.remove-margin {
  margin: 0px !important;
}

/* animations */

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-35px);
  }
  100% {
    transform: translatey(0px);
  }
}

/* Help page  */

.helpContainer {
  background: transparent;
}

.helpContainer h1 {
  color: #fff;
}

.helpContainer p {
  color: #fff;
}

.helpContainer a {
  color: #f9a830;
}

.showcase-container {
  padding-top: 24px;
}

.showcase-container .productShowcaseSection h1 {
  font-size: 36px;
  margin-bottom: 24px;
}


/* responsive menu */

.docsSliderActive nav.toc .navBreadcrumb,
.docsSliderActive.docsNavContainer {
  background-color: #fff;
}


.docsNavContainer nav.toc .navBreadcrumb, .docsSliderActive nav.toc .navBreadcrumb {
  border-bottom: 1px solid #ccc;
}


/* Index > docs */

.docs {
  display: flex;
  flex-direction: row;
}

.docs div {
  width: 50%;
}

.docs .docs-copy-content {
  padding-top: 24px;
}

.docs .docs-copy-content h3 {
  margin-bottom: 0px;
}



/* responsive */

@media screen and (max-width: 736px) {

  .helpContainer .postHeader h1 {
    font-size: 48px !important;
  }

  .helpContainer .blockContent h2 span p {
    font-size: 24px !important;
  }

  .spacer {
    padding: 48px 24px 60px 24px !important;
  }
}

@media screen and (max-width: 736px) {

  nav.toc .toggleNav {
    background-color: #ffffff;
  }  


  .docsSliderActive nav.toc .navBreadcrumb {
    background-color: #ffffff;
  }

  navigationSlider .slidingNav ul li.siteNavItemActive a, .navigationSlider .slidingNav ul li.siteNavGroupActive a {
    background: #f9a830;
  }

}

@media screen and (max-width: 1020px) {


  .navPusher {
    padding-top: 76px !important;
  }

  .fixedHeaderContainer {
    position: fixed;
  }

  .artifact-container {
    display: none;
  }

  .banner-mascot-container {
    padding: 20px;
    left: 0px;
  }

  .banner-copy h1 {
    font-size: 48px;
  }

  .feature-element-content {
    padding: 12px;
  }

}

@media screen and (max-width: 600px) {

  .navPusher {
    padding-top: 76px !important;
  }

  .fixedHeaderContainer {
    position: fixed;
  }

  .features-container {
    flex-direction: column;
  }

  .banner-mascot-container {
    left: initial;
  }

  .features-container .feature-element {
    margin: 0 12px 24px 12px;
  }

  .feature-element-content {
    padding: 12px;
  }

  .artifact-container {
    display: none;
  }

  .banner-mascot-container {
    position: absolute;
    z-index: 1;
    width: 200px;
    right: 0;
    opacity: 0.7;
    display: block;
  }

  .banner-copy {
    width: 100%;
  }

  .banner-copy h1 {
    font-size: 48px;
  }

  .banner-copy h3 {
    font-size: 24px;
  }

  .grid-container .wrapper {
    flex-direction: column;
  }

  .grid-col-2 {
    width: 100%;
  }

  .grid-col {
    margin: 0px;
  }

  .instructions h3 {
    height: initial;
    font-size: 24px;
  }


  footer .zombie-mascot {
    height: 270px;
    bottom: 0px;
  }

  .fbOpenSource img {
    top: -10px;
  }

}

@media screen and (max-width: 360px) {

  .navPusher {
    padding-top: 76px !important;
  }

  .fixedHeaderContainer {
    position: fixed;
  }

  .features-container {
    flex-direction: column;
  }

  .features-container .feature-element {
    margin: 0 12px 24px 12px;
  }

  .feature-element-content {
    padding: 12px;
  }

  .artifact-container {
    display: none;
  }

  .banner-mascot-container {
    position: absolute;
    z-index: 1;
    width: 200px;
    right: 0;
    opacity: 0.7;
    display: block;
  }

  .banner-copy {
    width: 100%;
  }

  .banner-copy h1 {
    font-size: 48px;
  }

  .banner-copy h3 {
    font-size: 24px;
  }

  .grid-container .wrapper {
    flex-direction: column;
  }

  .grid-col-2 {
    width: 100%;
  }

  .grid-col {
    margin: 0px;
  }

  .instructions h3 {
    height: initial;
    font-size: 24px;
  }


  footer .zombie-mascot {
    height: 200px;
    bottom: 0px;
  }

  .fbOpenSource img {
    top: -10px;
  }

}

/* @media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
} */

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}
